.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(72, 208, 167);
  color: rgb(226, 128, 43);
  padding: 1rem;
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.links-right {
  display: flex;
  align-items: center;
  list-style: none;
}

.links-right li {
  
  padding: 0 20px;
  position: relative;
}

#navbar-title {
  font-size: 4rem;
  text-decoration: none;
  color: rgb(13, 0, 255);
  padding: 0 0 0 180px;
}

#sign-in {
  text-decoration: none;
  color: rgb(11, 31, 118);
}

#sign-up {
  text-decoration: none;
  color: black;
}


